.image {
    width: 300px;
    height: 200px;
    cursor: pointer;
    user-select: none;
}

.circle {
    transform: translateX(100px);
    transition-duration: 1s;
    transform-origin: top lihgt;
    transform: rotate(180deg);
    user-select: none;

}



/* .image:hover {
    transform: rotate(180deg); */
    
    

